@use '../../properties';

#navigation {
  height: 2.6em;
  background-color: properties.$navbar-color;
  overflow: hidden;
  position: absolute;
  top: 0px;
}
#chat-content-panel {
  position: relative;
  min-height: 100vh;
  background-color: properties.$background-color;
}
#chat-content-item {
  background-color: properties.$card-color;
  border-radius: 12px;
  border: 2px solid properties.$border-color;
}

