<div class="container-fluid p-0 col-sm-8 offset-sm-2">

  <div>
    <header>
      <nav id="navigation" class="navbar fixed-top navbar-light p-0">
        <div class="d-flex align-items-baseline px-3 py-2 w-100">
          <i class="fa fa-arrow-left mr-3" (click)="goBack()"></i>
          <strong>{{username}}</strong>
          <span class="mx-2">connected to</span>
          <strong>{{selectedUser}}</strong>
          <span class="ml-auto" *ngIf="state" >Status : {{state}}</span>
        </div>
      </nav>
    </header>

    <div id="chat-content-panel" class="d-flex align-items-end">
      <div id="chat-content-group" class="w-100 p-3">
        <ul class="list-group list-group-flush ">
          <!-- <li id="chat-content-item" class="list-group-item mx-2 mb-2 py-2" >
            <div class="d-flex flex-column" >
              <strong class="mr-auto mb-2">user from</strong>
              <span class="my-1">message</span>
            </div>
          </li> -->
          <li id="chat-content-item" class="list-group-item mx-2 mb-2 py-2" *ngFor="let chatMessage of messagesHistory">
            <div class="d-flex flex-column" *ngIf="!chatMessage.receved">
              <strong class="ml-auto mb-2">{{chatMessage.userFrom}}</strong>
              <span class="my-1">{{chatMessage.message}}</span>
            </div>
            <div class="d-flex flex-column" *ngIf="chatMessage.receved">
              <strong class="mr-auto mb-2">{{chatMessage.userFrom}}</strong>
              <span class="my-1">{{chatMessage.message}}</span>
            </div>
          </li>
          <br>
        </ul>
      </div>
    </div>

    <footer id="send-message" class="fixed-bottom p-0 col-sm-8 offset-sm-2">
      <form (ngSubmit)="sendMessage(messageForm)" #messageForm="ngForm">
        <div class="d-flex">
          <input type="text" class="form-control" name="message" id="input-message" ngModel>
          <button type="submit" class="btn btn-primary"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
        </div>
      </form>
    </footer>
  </div>

</div>
