// $background-color: #b49eec43;
// $navbar-color: #b29fe0;
// $card-color: #b49eec33;
// $button-color: #9380c4;
// $navbar-color: #6895c2;
$navbar-color: #7badda;
// $navbar-color: #e9bec4a4;
$background-color: #a0c6ebad;
$card-color: #f6f1f5d3;
$button-color: #3e6e8a;
$border-color: #ffc0cb9c;
