<div class="container-fluid p-0 col-sm-8 offset-sm-2">

  <header>
    <nav id="navigation" class="navbar-expand-sm sticky-top navbar-light d-flex align-items-center px-3 ">
    </nav>
  </header>

  <div id="login-content" class="d-flex flex-column align-items-center">

      <br>

      <form>
        <div class="d-flex flex-column align-items-center">

          <input id="username" type="text" class="form-control m-2" name="username" [(ngModel)]="credentionals.username" ngDefaultControl ngModel>
          <input id="password" type="text" class="form-control m-2" name="password" [(ngModel)]="credentionals.password" ngDefaultControl ngModel>

          <div class="my-2 w-100 d-flex justify-content-between align-items-baseline">
            <button class=" mx-1 btn btn-sm btn-secondary" (click)="authenticate()" type="submit">Login</button>
            <p>or</p>
            <button class=" mx-1 btn btn-sm btn-secondary" (click)="register()" type="submit">Signup</button>
          </div>
          <br>
          <div class="">
            </div>
        </div>
        <br>
      </form>
      <br>
  </div>
</div>
