<div class="container-fluid p-0 col-sm-8 offset-sm-2">

  <header>
    <nav id="navigation" class="navbar-expand-sm sticky-top navbar-light d-flex align-items-center px-3 ">
      <strong class="ml-4 pl-2">{{logedInUser}}</strong>
    </nav>
  </header>
  <div id="user-content" class="d-flex flex-column align-items-center">

    <div class="d-flex flex-column justify-content-center align-items-sm-start">
      <br>
      <h6 class="py-3">Connect to</h6>

      <div class="pl-3 " *ngFor="let user of users">
        <h5 (click)="connectToUser(user.username)">
          <!-- <span class="ml-1 mr-2">-</span> -->
          {{user.username}}</h5>

      </div>
    </div>
  </div>

</div>
